In [2]:
import pdftotext
import pandas as pd
import numpy as np
import PyPDF2
import re

In [3]:
# Dont remove this
#td=0

In [5]:
#----------------------------------->Train data with new tag here. Feed the pdf to populate bag of words
with open("DOCUMENTS/COI/COI_CMcD_ArcoCOI.jpeg", "rb") as f:
    pdf = pdftotext.PDF(f)
# with open('AHRI/output.txt', 'w') as f:
#     f.write("\n\n".join(pdf))
text = pdf[0].encode('ascii','ignore').lower() #Lowercasing each word

In [9]:
#pdf[0]

In [10]:
# from gensim.summarization import keywords
# import warnings
# warnings.filterwarnings("ignore")

values = keywords(text=text,split='\n',scores=True)
data = pd.DataFrame(values,columns=['keyword','score'])
data = data.sort_values('score',ascending=False)
data.head(10)

NameError: name 'keywords' is not defined

In [11]:
#Provide the tag for the new data feeded
temp = data.keyword.head(10)
temp[10] = "AHRI" 
temp

NameError: name 'data' is not defined

In [543]:
#Do not run this command unless you want to add an entry into the dataframe!!
#td = td + 1
# Tabledata[td] = 0
Tabledata[td] = [i for i in temp]

In [546]:
Tabledata[2]

'policies'

In [493]:
#---------------->Tag checker starts here
with open("AHRI/AHRICertificate (1).pdf", "rb") as f:
    pdf = pdftotext.PDF(f)
# with open('AHRI/output.txt', 'w') as f:
#     f.write("\n\n".join(pdf))
text = pdf[0].encode('ascii','ignore').lower() #Lowercasing each word
values = keywords(text=text,split='\n',scores=True)
data = pd.DataFrame(values,columns=['keyword','score'])
data = data.sort_values('score',ascending=False)
data.head(10)

                                           keyword     score
0                                      certificate  0.319015
1                                    certification  0.319015
2                                           rating  0.266024
3                                            rated  0.266024
4                                            model  0.261221
5                                           models  0.261221
6                                              air  0.243446
7  product ratings ahri certified reference number  0.184505
8                                         products  0.159218
9                                       efficiency  0.157508

In [480]:
checker = data.keyword.head(10)
checker

0                                        certificate
1                                      certification
2                                             rating
3                                              rated
4                                              model
5                                             models
6                                                air
7    product ratings ahri certified reference number
8                                           products
9                                         efficiency
Name: keyword, dtype: object

In [481]:
x = [i for i in checker]

In [491]:
token = 0
params = 0
for k in range(td):
    for j in range(10):
        if Tabledata[k][j]==x[j]:
            token = token + 1
            params = k
        else:
            continue
if token>=7:
    print("Tag suggestion is : ",Tabledata[params][10])
else:
    print("No match")

Tag suggestion is :  AHRI

In [521]:
with open("Invoice/artFTP_PHASE3Invoice335193031219RD-031619.pdf", "rb") as f:
    pdf = pdftotext.PDF(f)
# with open('AHRI/output.txt', 'w') as f:
#     f.write("\n\n".join(pdf))
text = pdf[0].encode('ascii','ignore').lower() #Lowercasing each word
values = keywords(text=text,split='\n',scores=True)
data = pd.DataFrame(values,columns=['keyword','score'])
data = data.sort_values('score',ascending=False)
data.head(10)

                      keyword     score
0  energy services accounting  0.237831
1                   leep unit  0.199758
2                     invoice  0.183096
3                    accounts  0.175866
4                         led  0.173952
5                       total  0.173670
6                     release  0.155347
7                        fort  0.155347
8                     sealing  0.155347
9                       power  0.155347

In [522]:

with open("Invoice/artFTP_PHASE3invoice33549CR-EVIncentive-22679_CREV_03262019_20190326094640767.pdf", "rb") as f:
    pdf = pdftotext.PDF(f)
# with open('AHRI/output.txt', 'w') as f:
#     f.write("\n\n".join(pdf))
text = pdf[0].encode('ascii','ignore').lower() #Lowercasing each word
values = keywords(text=text,split='\n',scores=True)
data = pd.DataFrame(values,columns=['keyword','score'])
data = data.sort_values('score',ascending=False)
data.head(10)

          keyword     score
0  invoice number  0.339436
1       invoicing  0.311043
2       incentive  0.289968
3         program  0.251488
4      clearesult  0.242015
5        westbank  0.203920

In [523]:
with open("Invoice/artFTP_PHASE3invoice33551CR-GASIncentive-22677R_CRGAS_03262019_20190326094930160.pdf", "rb") as f:
    pdf = pdftotext.PDF(f)
# with open('AHRI/output.txt', 'w') as f:
#     f.write("\n\n".join(pdf))
text = pdf[0].encode('ascii','ignore').lower() #Lowercasing each word
values = keywords(text=text,split='\n',scores=True)
data = pd.DataFrame(values,columns=['keyword','score'])
data = data.sort_values('score',ascending=False)
data.head(10)

          keyword     score
0       invoicing  0.298369
1       incentive  0.282789
2            peco  0.275742
3  invoice number  0.269240
4      clearesult  0.239595
5         program  0.237705

In [524]:
with open("Invoice/artFTP_PHASE3invoice33550CR-GAMSIncentive-22678R_CRGAMS_03262019_20190326094822397.pdf", "rb") as f:
    pdf = pdftotext.PDF(f)
# with open('AHRI/output.txt', 'w') as f:
#     f.write("\n\n".join(pdf))
text = pdf[0].encode('ascii','ignore').lower() #Lowercasing each word
values = keywords(text=text,split='\n',scores=True)
data = pd.DataFrame(values,columns=['keyword','score'])
data = data.sort_values('score',ascending=False)
data.head(10)

          keyword     score
0       invoicing  0.294713
1       incentive  0.279771
2            peco  0.275366
3  invoice number  0.266050
4      clearesult  0.236280
5         program  0.235700